{
  "extends": ["eslint:recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["html"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-console": 0,
    "no-param-reassign": 0,
    "require-jsdoc": "off"
  }
}
