{
  "extends": "stylelint-config-standard",
  "processors": ["stylelint-processor-html"],
  "rules": {
    "comment-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ]
      }
    ],
    "comment-whitespace-inside": "never",
    "indentation": 2
  }
}
