---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <style>
      .content {
        padding: 1rem;
      }
      #ua {
        font-family: monospace;
        font-size: 1.2rem;
      }
    </style>
    <div class="content">
      <div id="ua">
        <strong>window.navigator.userAgent:</strong>
        <br />
        <code id="code"></code>
        <script>
          document.getElementById('code').textContent =
            window.navigator.userAgent;
        </script>
      </div>
    </div>

    <Footer />
  </body>
</html>
