/*
:root {
  --fontStack: font-family: System, Fixedsys, Consolas, monospace;
  --fontStack: -apple-system, "blinkmacsystemfont", ".SFNSDisplay-Regular", ".SFNSText-Regular", "SF UI Text", "San Francisco", "Noto Sans", "Helvetica Neue", "Roboto", "Droid Sans", "Oxygen", "Lucida Grande", "Segoe UI", "Fira Sans", "ubuntu", "cantarell", "helvetica", "arial", sans-serif;
  --fontColor: #fafafa;
  --fontSize: 1rem;
  --colorLink: red;
  --colorLinkHover: green;
}
*/

footer,
header,
main {
  text-align: center;
  line-height: 150%;
}

main {
  font-size: 1.2rem;
}

h1 {
  margin: 0;
  font-size: 1.6rem;
}

em {
  font-size: 1.4rem;
}

footer {
  display: flex;
  flex-direction: column;
}

small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  margin: 0.1rem;
}

/**normalize.css*/
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a,
a:visited {
  margin: 0.3rem;
  padding-left: 10px;
  line-height: 1.6rem;
  color: rgba(220, 220, 220, 0.9);
  cursor: pointer;
  transition: all 0.1s;
}

a:active,
a:hover {
  color: #f7df31;
}

address {
  margin-bottom: 0.5rem;
}

address > a,
address > a:visited {
  display: inline-block;
}

::selection {
  background: #f7df31;
}

@media all and (min-width: 40rem) and (min-height: 20rem) {
  html {
    font-size: 140%;
  }

  .screen {
    padding: 2rem;
  }
}

/**end-normalize.css*/

.background {
  background-size: cover;
}

.screen {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(240, 240, 240, 0.8);
  justify-content: center;
  align-items: center;
}

.small-urls {
  align-items: center;
  display: inline-flex;
  font-family: monospace;
  opacity: 0.7;
  padding: 2px 10px;
}

.small-urls:hover {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .background {
    filter: brightness(0.8);
  }
}

@media print {
  body {
    background: transparent !important;
    text-shadow: none !important;
    color: #222 !important;
  }

  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  a::after {
    content: '';
  }

  img {
    page-break-inside: avoid;
  }

  small {
    flex-direction: column;
  }

  .screen {
    background-color: transparent !important;
    color: #222 !important;
  }

  .screen::before {
    filter: none;
  }
}
