:root {
  --fontStack: -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", ".SFNSText-Regular", "SF UI Text", "San Francisco", "Noto Sans", "Helvetica Neue", "Roboto", "Droid Sans", "Oxygen", "Lucida Grande", "Segoe UI", "Fira Sans", Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
  --fontColor: #fafafa;
  --fontSize: 0.7em;
  --colorLink: red;
  --colorLinkHover: green;
  /*Colors:
      special:
        #02f8b3, #1fab8c
        #cbf802, #9cab1e
        #8c5888, #4f2f4c
      usual:
        #ff4e00, #fc0400*/
}
